body {
    font-family: Arial, sans-serif;
    background-color: #d0d0d0;
    margin: 0;
    padding: 0;
    background-image: url('../immagini/sfondo2.jpeg');
    background-size: 53% auto;
    background-repeat: no-repeat;
    background-position: top center;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}


.container {
    max-width: 250px;
    margin: 4px auto 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}


.menu-button {
    width: 100%;
    max-width: 200px;
    padding: 15px;
    border: none;
    border-radius: 45px;
    background-color: rgb(197, 136, 70);
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}


.menu-button:hover {
    background-color: rgb(203, 123, 43);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
