body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('../immagini/sfondo2.jpeg');

    /* Imposta le dimensioni dello sfondo */
    background-size: 50% auto; /* Puoi regolare i valori come preferisci */
    background-repeat: no-repeat;
    background-position: top center;
}

.container {
    max-width: 250px;
    margin: 100px auto 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-button {
    display: inline-block;
    width: auto;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(196, 158, 139);
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-button:hover {
    background-color: rgb(217, 146, 107);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
