<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storico Prenotazioni</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cliente.css') }}">
</head>
<body>
<div class="page-wrapper">
    <h1>Storico Prenotazioni</h1>
    <form action="/storico_prenotazioni" method="post">
        <label for="cliente">Inserisci il nome del cliente:</label>
        <input type="text" id="cliente" name="cliente" required>
        <button type="submit">Visualizza Storico Prenotazioni</button>
    </form>

    {% if storico_prenotazioni %}
    <div class="storico">
        <h2>Storico Prenotazioni per il cliente {{ cliente }}</h2>
        <table>
            <thead>
            <tr>
                <th>Dipendente</th>
                <th>Descrizione</th>
                <th>Data</th>
                <th>Prezzo</th>
                <th>Sede</th>
                <th>Modifiche</th>
            </tr>
            </thead>
            <tbody>
            {% for prenotazione in storico_prenotazioni %}
            <tr>
                <td>{{ prenotazione[0] }}</td>
                <td>{{ prenotazione[2] }}</td>
                <td>{{ prenotazione[3] }}</td>
                <td>{{ prenotazione[4] }}</td>
                <td>{{ prenotazione[5] }}</td>

                <td>
                    <button class="button-icon" onclick="modificaPrenotazione('{{ prenotazione[6] }}')">📝</button>
                    <button class="button-icon" onclick="modificaPrenotazione_ora('{{ prenotazione[6] }}')">🕒</button>
                    <button class="button-icon" onclick="eliminaPrenotazione('{{ prenotazione[6] }}')">❌</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

<script>

    function eliminaPrenotazione(id) {
        if (confirm('Sei sicuro di voler eliminare questa prenotazione?')) {
            fetch('/elimina_prenotazione', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: id
                })
            })
                .then(response => {
                    if (response.ok) {
                        alert('Prenotazione eliminata con successo!');
                        location.reload(); // Ricarica la pagina dopo l'eliminazione
                    } else {
                        throw new Error('Si è verificato un problema durante l\'eliminazione della prenotazione.');
                    }
                })
                .catch(error => {
                    console.error('Errore durante l\'eliminazione della prenotazione:', error);
                    alert('Si è verificato un errore durante l\'eliminazione della prenotazione.');
                });
        }
    }

    function modificaPrenotazione(id) {
        console.log("ID della prenotazione:", id); // Stampare l'ID della prenotazione
        const nuovaDescrizione = prompt("Inserisci la nuova descrizione:");
        const nuovoPrezzo = prompt("Inserisci il nuovo prezzo:");
        if (nuovaDescrizione !== null && nuovoPrezzo !== null) {
            fetch('/modifica_prenotazione', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    prenotazione_id: id,
                    nuova_descrizione: nuovaDescrizione,
                    nuovo_prezzo: nuovoPrezzo
                })
            })
                .then(response => {
                    if (response.ok) {
                        alert('Prenotazione modificata con successo!');
                        // Ricarica la pagina dopo aver mostrato l'alert
                        location.reload();
                    } else {
                        throw new Error('Si è verificato un problema durante la modifica della prenotazione.');
                    }
                })
                .catch(error => {
                    console.error('Errore durante la modifica della prenotazione:', error);
                    alert('Si è verificato un errore durante la modifica della prenotazione.');
                });
        }
    }



    function modificaPrenotazione_ora(id) {
        const nuovaDataInizio = prompt("Inserisci la nuova data di inizio (YYYY-MM-DD HH:MM):");
        const nuovaDataFine = prompt("Inserisci la nuova data di fine (YYYY-MM-DD HH:MM):");
        if (nuovaDataInizio !== null && nuovaDataFine !== null) {
            fetch('/modifica_prenotazione_ora', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    prenotazione_id: id,
                    nuova_data_inizio: nuovaDataInizio,
                    nuova_data_fine: nuovaDataFine
                })
            })
                .then(response => {
                    if (response.ok) {
                        alert('Prenotazione modificata con successo!');
                        // Ricarica la pagina dopo aver mostrato l'alert
                        location.reload();
                    } else {
                        throw new Error('Si è verificato un problema durante la modifica della prenotazione.');
                    }
                })
                .catch(error => {
                    console.error('Errore durante la modifica della prenotazione:', error);
                    alert('Si è verificato un errore durante la modifica della prenotazione.');
                });
        }
    }



</script>
</body>
</html>
