<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prenotazione Taglio Capelli</title>
    <link rel="stylesheet" href="../static/css/prenotazione.css">
</head>
<body>

<!-- Aggiunto il wrapper generale della pagina -->
<div class="page-wrapper">

    <div class="tabs">
        <div class="tab">
            <button class="tablinks active" onclick="openTab(event, 'nuovaPrenotazione')">Nuova Prenotazione</button>
        </div>
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'visualizzaPrenotazioniFrattamaggiore')" id="FrattamaggioreTab">Prenotazioni Frattamaggiore</button>
        </div>
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'visualizzaPrenotazioniAversa')" id="aversaTab">Prenotazioni Aversa</button>
        </div>
    </div>

    <div id="nuovaPrenotazione" class="tabcontent">
        <!-- Contenuto della tab per prendere una nuova prenotazione -->
        <h2>Nuova Prenotazione</h2>
        <form id="prenotazioneForm" action="/submit" method="post">
            <div class="form-group">
                <label for="summary">Nome e Cognome Cliente:</label>
                <input type="text" id="summary" name="summary" required>
            </div>

            <div class="form-group">
                <label for="description">Descrizione:</label>
                <input type="text" id="description" name="description" required>
            </div>

            <div class="form-group">
                <label for="dipendente">Dipendente:</label>
                <select id="dipendente" name="dipendente" required>
                    <!-- Opzioni per i dipendenti saranno generate dinamicamente -->
                </select>
            </div>

            <!-- Aggiunta del menu a tendina per la sede -->
            <div class="form-group">
                <label for="sede">Sede:</label>
                <select id="sede" name="sede" required>
                    <option value="Scegli sede">Scegli Sede</option>
                    <option value="Frattamaggiore">Frattamaggiore</option>
                    <option value="Aversa">Aversa</option>
                </select>
            </div>

            <div class="form-group">
                <label for="start_datetime">Data e Ora Inizio:</label>
                <input type="datetime-local" id="start_datetime" name="start_datetime" required>
            </div>

            <div class="form-group">
                <label for="end_datetime">Data e Ora Fine:</label>
                <input type="datetime-local" id="end_datetime" name="end_datetime" required>
            </div>

            <div class="form-group">
                <label for="prezzo">Prezzo:</label>
                <input type="text" id="prezzo" name="prezzo" step="0.01" required>
            </div>

            <div class="form-group">
                <input type="submit" value="Prenota">
            </div>
        </form>
    </div>

    <div id="visualizzaPrenotazioniFrattamaggiore" class="tabcontent" style="display: none;">
        <h2>Prenotazioni Frattamaggiore</h2>
        <div class="calendar" id="prenotazioniTableFrattamaggiore">
        </div>
    </div>

    <div id="visualizzaPrenotazioniAversa" class="tabcontent" style="display: none;">
        <!-- Contenuto della tab per visualizzare le prenotazioni giornaliere ad Aversa -->
        <h2>Prenotazioni Aversa</h2>
        <div class="calendar" id="prenotazioniTableAversa">
            <!-- Qui verrà aggiunta la tabella delle prenotazioni giornaliere per Aversa -->
        </div>
    </div>

</div> <!-- Chiuso il wrapper generale della pagina -->


<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.classList.add("active");

        // Quando viene aperta la tabella delle prenotazioni, chiamiamo la funzione per visualizzarle
        if (tabName === 'visualizzaPrenotazioniFrattamaggiore') {
            visualizzaPrenotazioniFrattamaggiore();
        } else if (tabName === 'visualizzaPrenotazioniAversa') {
            visualizzaPrenotazioniAversa();
        }
    }

    function visualizzaPrenotazioniFrattamaggiore() {
        fetch('/get_daily_schedule')
            .then(response => response.text())  // Otteniamo il testo HTML della tabella
            .then(data => {
                const prenotazioniTable = document.getElementById('prenotazioniTableFrattamaggiore');
                prenotazioniTable.innerHTML = data;
            })
            .catch(error => console.error('Si è verificato un errore:', error));
    }

    function visualizzaPrenotazioniAversa() {
        fetch('/get_daily_schedule_aversa')
            .then(response => response.text())
            .then(data => {
                const prenotazioniTable = document.getElementById('prenotazioniTableAversa');
                prenotazioniTable.innerHTML = data;
            })
            .catch(error => console.error('Si è verificato un errore:', error));
    }

    function visualizzaDipendenti() {
        fetch('/get_dipendenti')
            .then(response => response.json())
            .then(data => {
                const dipendenteSelect = document.getElementById('dipendente');
                dipendenteSelect.innerHTML = '';
                data.forEach(dipendente => {
                    const option = document.createElement('option');
                    option.value = dipendente;
                    option.text = dipendente;
                    dipendenteSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Si è verificato un errore:', error));
    }



    function eliminaPrenotazione(id, cliente, descrizione) {
        if (confirm(`Sei sicuro di voler eliminare la prenotazione per ${cliente}?`)) {
            fetch('/elimina_prenotazione', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: id
                })
            })
                .then(response => {
                    if (response.ok) {
                        alert('Prenotazione eliminata con successo!');
                        if (document.getElementById('visualizzaPrenotazioniFrattamaggiore').style.display === 'block') {
                            visualizzaPrenotazioniFrattamaggiore();
                        } else if (document.getElementById('visualizzaPrenotazioniAversa').style.display === 'block') {
                            visualizzaPrenotazioniAversa();
                        }
                    } else {
                        throw new Error('Si è verificato un problema durante l\'eliminazione della prenotazione.');
                    }
                })
                .catch(error => {
                    console.error('Errore durante l\'eliminazione della prenotazione:', error);
                    alert('Si è verificato un errore durante l\'eliminazione della prenotazione.');
                });
        }
    }

    function inviaPrenotazione(event) {
        event.preventDefault(); // Previeni il comportamento predefinito del modulo

        // Effettua una richiesta POST al server con i dati del modulo
        fetch('/submit', {
            method: 'POST',
            body: new FormData(document.getElementById('prenotazioneForm'))
        })
            .then(response => {
                if (response.ok) {
                    // Rimuovi i campi dal form o fai altre operazioni di pulizia
                    document.getElementById('summary').value = '';
                    document.getElementById('description').value = '';
                    document.getElementById('dipendente').value = '';
                    document.getElementById('sede').value = 'Scegli sede';
                    document.getElementById('start_datetime').value = '';
                    document.getElementById('end_datetime').value = '';
                    document.getElementById('prezzo').value = '';

                    // Aggiungi qui l'alert o il messaggio di successo
                    alert('Prenotazione salvata con successo!');
                } else {
                    // Gestisci l'errore se la prenotazione non è stata salvata correttamente
                    alert('Si è verificato un errore durante il salvataggio della prenotazione.');
                }
            })
            .catch(error => console.error('Si è verificato un errore:', error));
    }

    // Aggiungi un event listener al form per gestire l'invio del modulo di prenotazione
    document.getElementById('prenotazioneForm').addEventListener('submit', inviaPrenotazione);


    function modificaPrenotazione(id) {
        const nuovaDescrizione = prompt("Inserisci la nuova descrizione:");
        const nuovoPrezzo = prompt("Inserisci il nuovo prezzo:");
        if (nuovaDescrizione !== null && nuovoPrezzo !== null) {
            fetch('/modifica_prenotazione', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    prenotazione_id: id,
                    nuova_descrizione: nuovaDescrizione,
                    nuovo_prezzo: nuovoPrezzo
                })
            })
                .then(response => {
                    if (response.ok) {
                        alert('Prenotazione modificata con successo!');
                        if (document.getElementById('visualizzaPrenotazioniFrattamaggiore').style.display === 'block') {
                            visualizzaPrenotazioniFrattamaggiore();
                        } else if (document.getElementById('visualizzaPrenotazioniAversa').style.display === 'block') {
                            visualizzaPrenotazioniAversa();
                        }
                    } else {
                        throw new Error('Si è verificato un problema durante la modifica della prenotazione.');
                    }
                })
                .catch(error => {
                    console.error('Errore durante la modifica della prenotazione:', error);
                    alert('Si è verificato un errore durante la modifica della prenotazione.');
                });
        }
    }


    document.addEventListener('DOMContentLoaded', visualizzaDipendenti);

    document.querySelector('.tablinks').addEventListener('click', function(event) {
        openTab(event, 'nuovaPrenotazione');
    });

    function modificaPrenotazione_ora(id) {
        const nuovaDataInizio = prompt("Inserisci la nuova data di inizio (YYYY-MM-DD HH:MM):");
        const nuovaDataFine = prompt("Inserisci la nuova data di fine (YYYY-MM-DD HH:MM):");
        if (nuovaDataInizio !== null && nuovaDataFine !== null) {
            fetch('/modifica_prenotazione_ora', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    prenotazione_id: id,
                    nuova_data_inizio: nuovaDataInizio,
                    nuova_data_fine: nuovaDataFine
                })
            })
                .then(response => {
                    if (response.ok) {
                        alert('Prenotazione modificata con successo!');
                        if (document.getElementById('visualizzaPrenotazioniFrattamaggiore').style.display === 'block') {
                            visualizzaPrenotazioniFrattamaggiore();
                        } else if (document.getElementById('visualizzaPrenotazioniAversa').style.display === 'block') {
                            visualizzaPrenotazioniAversa();
                        }
                    } else {
                        throw new Error('Si è verificato un problema durante la modifica della prenotazione.');
                    }
                })
                .catch(error => {
                    console.error('Errore durante la modifica della prenotazione:', error);
                    alert('Si è verificato un errore durante la modifica della prenotazione.');
                });
        }
    }
    window.onload = function() {
        openTab(event, 'nuovaPrenotazione');
    };


</script>

</body>
</html>
