<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storico Prenotazioni</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cliente.css') }}">
</head>
<body>
<div class="page-wrapper">
    <h1>Storico Prenotazioni</h1>
    <a href="{{ url_for('index') }}">Torna al menù principale</a>
    <form action="/storico_prenotazioni" method="post">
        <label for="cliente">Inserisci il nome del cliente:</label>
        <input type="text" id="cliente" name="cliente" required>
        <button type="submit">Visualizza Storico Prenotazioni</button>
    </form>

    {% if storico_prenotazioni %}
    <div class="storico">
        <h2>Storico Prenotazioni per il cliente {{ cliente }}</h2>
        <table>
            <thead>
            <tr>
                <th>Dipendente</th>
                <th>Descrizione</th>
                <th>Data</th>
                <th>Prezzo</th>
                <th>Sede</th>
            </tr>
            </thead>
            <tbody>
            {% for prenotazione in storico_prenotazioni %}
            <tr>
                <td>{{ prenotazione[0] }}</td>
                <td>{{ prenotazione[2] }}</td>
                <td>{{ prenotazione[3] }}</td>
                <td>{{ prenotazione[4] }}</td>
                <td>{{ prenotazione[5] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
</body>
</html>
