<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principale</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

<div class="container">
    <h1>Menù Principale</h1>
        <div class="menu-buttons">
        <a href="/prenotazione" class="menu-button">Prenotazione</a>
        <a href="/dipendenti" class="menu-button">Dipendente</a>
        <a href="/cliente" class="menu-button">Cliente</a>
        <a href="" class="menu-button">Fatturato</a>
        </div>
</div>
</body>
</html>
